registry=https://repo.cci.nokia.net/artifactory/api/npm/csf-assured-oss-npm-releases
@nokia-csf-uxr:registry=https://repo.cci.nokia.net/api/npm/csf-npm-candidates
strict-ssl=false
legacy-peer-deps=true
